<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="mid">
      <div class="card">
              <div class="card-l">
                <img src="https://cdn.shopify.com/s/files/1/0465/4540/4069/products/img1_720x.jpg?v=1644487721" alt="">
              </div>
              <div class="card-r">
                <h5>Visit the brand store</h5>
                <h2>name of product</h2>
                <div class="star">
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-line"></i>
                </div>
                <p>M.R.P.: 1500rs</p>

                <div class="add">
                  <button>
                    <span class="box">
                      Add to Cart
                  </span>
                  </button>
                  <button>
                    <span class="box">
                      Buy Now
                  </span>
                  </button>
                </div>
                <h3>Offer 30% Off</h3>
                <p>Free delivery upto 1000</p>
                <p>Pay on Delivery</p>
                <p>10 days Return and Exchange</p>
                <p>Customize Name</p>

              </div>
        
      </div>
    </div>




    
   
     
  <script src="./javascripts/script.js"></script>
  </body>
</html>
