<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="landing-page1">
      <h1>hi</h1>
    </div>
    <div class="landing-page2">
      <h1>hello</h1>
    </div>
    <div class="main">
      <div class="nav-bar">
        
      </div>
      <div class="page1"></div>
      <div class="page1"></div>
      <div class="page1"></div>
      <div class="page1"></div>

    </div>

  </body>
</html>
