<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <link href="https://cdn.jsdelivr.ne
    t/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
      <div class="main">
          <div class="nav-bar">
            <a href="">Home</a>
            <a href="">Product</a>
            <a href="">Login</a>
            <a href="">Account</a>
            <a href="">Cart</a>
          </div>

          <a class="more" href="">Menu</a>
          <i class="ri-close-fill cross"></i>

          <div class="menue-p">
            <div class="circle"></div>
            <ul>
                <li><a target="_blank" href="#" data-text
                    ="Home">Home</a></li>
                    <li><a target="_blank" href="" data-text
                        ="Account">Account</a></li>
                    <li><a target="_blank" href="" data-text
                            ="Products">Products</a></li>
                    <li><a target="_blank" href="" data-text
                                ="Custom designed">Custom designed</a></li>
                    <li><a target="_blank" href="" data-text
                                    ="Indian">Indian</a></li>
                    
            </ul>
        </div>

          <div class="page1">

          </div>
          <div class="page2"></div>
          <div class="page3"></div>
          <div class="page4"></div>
      
        </div>

   

   <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js" integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

  <script src="./javascripts/script.js"></script>

  </body>
</html>




