<div class="main">
    <div class="nav-bar">
      <a href="">Home</a>
      <a href="">Product</a>
      <a href="">Login</a>
      <a href="">Account</a>
    </div>
    <div class="page1"></div>
    <div class="page2"></div>
    <div class="page3"></div>
    <div class="page4"></div>

  </div>
