*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,body{
   height: 100%;
   width: 100%;
}
:root{
  --font:"";
  --primary:"#E3CBB3";
  --secondary:"#A99F9E"
}
.landing-page1{
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-page2{
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main{
  width: 100%;
  background-color: var(--secondary);
}
